doctype html
html
	head
		meta(charset='utf-8')
		link(rel="stylesheet", href="/sass/base.sass")
		title Benchmarks - #{suite.title} #{suite.version}

		each dep in suite.deps
			script(src=dep)
	

	body
		script window.config = !{JSON.stringify(suite)};
		script(src='/coffee/suite.coffee')
		script(src=`/dep/${suite.fullname}/suite.js`)


